body{ 

    background-color:#C9E1F1  ;
}



.TituloPag{ 
    font-family: 'Roboto Slab', serif;
font-size: 40px;

}

.Resumen{   
    font-size: 33px;
    font-family: 'Josefin Sans', sans-serif;


}

.ParrafoGeneral-1{ 
    font-size: 33px;
    font-family: 'Josefin Sans', sans-serif;


}

.ParrafoGeneral-2{  

    font-size: 28px;
    font-family: 'Josefin Sans', sans-serif;



}